body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #7B3F00;
    margin: 0;
    padding: 0;
    background-image: 
        url('/static/images/image.jpg'), 
        url('/static/images/image2.jpg'),
        url('/static/images/image3.png'),
        url('/static/images/image4.png');
    background-repeat: repeat;
}


nav {
    background-color: #7B3F00;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 20px auto;
    font-size: 1.5em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    background: #FFFFFF;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.flash {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #444;
    color: #f00;
    border: 1px solid #f00;
    border-radius: 4px;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #222;
    margin: 10px;
    color: #FFFFFF;
}

.card-header {
    background-color: #7B3F00;
    border-bottom: 1px solid #555;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #7B3F00; /* Update footer background color to dark gray */
    color: white;
    width: 100%;
    position: fixed; /* Ensure the footer sticks to the bottom */
    bottom: 0; /* Position the footer at the bottom of the viewport */
    left: 0; /* Align the footer to the left edge */
}

.container.mt-5 {
    margin-top: 50px;
}
