body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #000; /* Change background color to black */
    color: #fff; /* Change text color to white */
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333; /* Change nav background color to dark gray */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 20px auto;
    font-size: 1.5em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    background: #333; /* Change content background color to dark gray */
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Update box shadow color */
    border-radius: 8px;
}

.flash {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #444; /* Change flash background color to darker gray */
    color: #f00; /* Change flash text color to red */
    border: 1px solid #f00; /* Update border color */
    border-radius: 4px;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #222; /* Change card background color to very dark gray */
    margin: 10px;
}

.card-header {
    background-color: #333; /* Change card header background color to dark gray */
    border-bottom: 1px solid #555; /* Update border color */
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333; /* Change footer background color to dark gray */
    color: white;
    width: 100%;
}

.container.mt-5 {
    margin-top: 50px;
}
