<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Software Engineering{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="tm-header">
        <div class="container-fluid">
            <div class="tm-header-inner">
                <a href="{{ url_for('home') }}" class="navbar-brand tm-site-name">Software Engineering</a>
                {% if g.user %}
                    <a href="{{ url_for('blog.index') }}">Home</a>
                    <a href="{{ url_for('blog.create') }}">Create</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                    <p>Logged in as {{ g.user.username }}</p>
                {% else %}
                    <a href="{{ url_for('auth.register') }}">Register</a>
                    <a href="{{ url_for('auth.login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="content">
        {% block content %}
        <div class="tm-home-img-container">
            <img src="{{ url_for('static', filename='img/tm-home-img.jpg') }}" alt="Image" class="hidden-lg-up img-fluid">
        </div>

        <section class="tm-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                        <h2 class="tm-gold-text tm-title">Python Queen</h2>
                        <p class="tm-subtitle">Python is life</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="tm-content-box">
                            <img src="{{ url_for('static', filename='img/tm-img-310x180-1.jpg') }}" alt="Image" class="tm-margin-b-20 img-fluid">
                            <h4 class="tm-margin-b-20 tm-gold-text">Lorem ipsum dolor #1</h4>
                            <p class="tm-margin-b-20">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec scelerisque porttitor pharetra</p>
                            <a href="#" class="tm-btn text-uppercase">Detail</a>
                        </div>
                    </div>
                    <!-- Add more content boxes as needed -->
                </div>
            </div>
        </section>
        {% endblock %}
    </div>
</body>
</html>
